body{
    background:#eff3f8;
    color: #32394d;
    font-family: 'Poppins', sans-serif;
    overflow-x: auto!important;
}
.main-content-section section:first-child, .main-content-section section#requirement{
    padding: 0px;
}
.main-content-section{
    padding-left: 0px;
    padding-top: 54px;
    padding-bottom: 20px;
    padding-right: 10px;
    height: auto;
}
section.main-content-section section:first-child {
    display: block;
}
.wrapper {
    padding: 30px;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 0;
}
.navbar-default {
    background-color: #fff;
    z-index: 999999999999999!important;
    border:none!important;
    box-shadow: 0 1px 15px 1px rgba(113,106,202,.1);
}
.well {
    background-color:#fff;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(168, 214, 248, 0.3);
}
.well h5 {
    font-weight: 600;
}
.well h6, p{
    font-size: 12px;
    margin-bottom: 0px;
    text-transform: none;
    font-weight: 500;
}
.well p {
    margin: 2% 0;
    color: #7f8fa4;
    font-size: 13px;
    font-weight: 400;
}
a.btn {
    border-radius: 3rem;
    color: #fff;
    font-size: 0.8rem;
}
a.btn-main{
    background-color: #182382;
    box-shadow: 0px 5px 10px 0px rgba(24, 35, 130, 0.47);
}
.well a.btn-secMain {
    background-color: #eff1f2;
    color: #8a99a1;
    font-weight: 600;
}
a.btn-mainWhite{
    background-color: #fff;
    color: #182382;
    font-weight: 600;
}
.well a.btn-viewMore{
    background-color: #f2f5f8;
    color: #103cb9;
}
.well li {
    font-size: 13px;
    margin: 2% 0;
}
.well button.btn-success {
    background-color: #34ac45;
}
.cardStats {
    display: flex;
    margin-bottom: 25px;
}
.cardStats .well{
    flex: 1;
    padding: 0.6rem 0.5rem 0rem 0.5rem;
    margin-bottom: 0px;
    margin-right: 30px;
}
.cardStats .well .badge{
    font-size: 0.5em;
    font-weight: 400;
}
.cardStats .well:last-child{
    margin-right: 0;
}
.cardStats h4{
    margin-bottom: 0px;
    font-weight: 600;
}
.cardStats h6{
    color: #292929;
}
.cardStats .col-xs-2, .cardStats .col-xs-8{
    padding: 0;
}
.cardStats .well .col-xs-2{
    margin-right: 26px;
}
.cardStats .well img{
    width: 100%;
    height: auto;
    vertical-align: top;
}
.activityheader{
    padding: 1rem;
    margin-bottom: 1rem;
}
.activityheader .btn.focus, .activityheader .btn:focus{
    box-shadow: none;
    outline: none;
}
.activityheader .btn-secMain{
    margin-right: 1rem;
}
.activityheader h5{
    margin-bottom: 0px;
    margin-top: 0.3rem;
}
#calendar .fc-toolbar.fc-header-toolbar {
    padding: 0.75rem;
    background-color: #182382;    
    margin-bottom: 0px;
}
#calendar .btn-group > button.btn{
    border-radius: 3rem;
    background-color: #111a69;
    color: #fff;    
    border: 0px;
    font-size: 0.9rem;
}
#calendar .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child){
    margin-left: 0.5rem;
}
#calendar .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    color: #fff;
    background-color: #2931aa;
    border-color: #2931aa;
    border-radius: 3rem;
}
#calendar .fc-left > button.btn.fc-today-button{
    border-radius: 3rem;
    background-color: #fff;
    color: #2931aa;
    font-size: 0.9rem;
    border: 0px;
}
#calendar .fc-right .btn-group .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #2931aa;
    background-color: #fff;
    border-color: #2931aa;
    border-radius: 3rem;
}
#calendar .fc-head-container  .fc-day-header{
    background-color: #f4f7f9;
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
}
#calendar .fc-center h2{
    font-size: 1.2rem;
    color: #fff;
}
#calendar .fc-event-container .fc-event{
    background-color: #f2f5f8;
    color: #103cb9;
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
}
.activitySummary .row h6{
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: 600;
}
.activitySummary .fas{
    color: #103cb9;
}
.maxHour{
    background-color:#fef9ce;
    color: #8e821f;
}
.minHour{
    background-color:#fbe6e7;
    color: #df1342;
}
.activityList{
    margin-bottom: 0.5rem;
}
.activityList .activitySummary{
    padding: 1rem;
}
.activitySummary .txtMain{
    color: #182382;
    font-weight: 600;
}
.actHeading{
    font-size: 0.8rem;
    font-weight: 600;
    color: #7e8b9b;
}
.activityDetail{
    font-size: 0.9rem;
}
.activityList .row .col-sm-5.col-12 {
    border-left: 1px solid #dee6ef;
    padding-left: 0px;
}
.bgWeek{
    background-color: #f8f8f8;
    height: 100%;
    padding: 0.2rem 1rem;
}
.selectedDays{
    display: inline-block;
    padding-top: 0.5rem;
}
.weekHeading {
    color: #7e8b9b;
    font-size: 0.7rem;
    font-weight: 600;
}
.weekDaysContent{
    color: #34404f;
    font-size: 0.8rem;
    font-weight: 400;
}
#activityDetail .modal-dialog {
    max-width: 1024px;
}
#activityDetail .modal-header{
    background-color: #182382;
    color: #fff;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}
#activityDetail .modal-header .btn-mainWhite{
    background-color: #fff;
    color: #103cb9;
    font-weight: 600; 
    border-radius: 3rem;
    margin-left: 13px;
}
#activityDetail .btn-close{
    background-color: #111a69;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 3rem;    
}
.topForm, .midForm{
    border-bottom: 1px solid #e5e9ed; 
}
.topForm .txtMain{
    color: #182382;
    font-size: 0.8rem;
    font-weight: 600;
}
.topForm input{
    background-color: #eff1f2;
    border: 0px;
    border-radius: 0.6rem;
    font-size: 0.8rem;
}
.topForm .form-control:focus{
    background-color: #f2f7f9;
    border: 1px solid #d4dfee;
    box-shadow: none;
}
.topForm .inputIcon{
    position: absolute;
    top: 6px;
    right: 23px;
    background-color: #7f8fa3;
    border-radius: 3rem;
    width: 25px;
    height: 25px;
    padding: 4px;
    font-size: 13px;
    color: #fff;
}
.topForm select.form-control{
    background-color: #eff1f2;
    border: 0px;
    border-radius: 0.6rem;
    font-size: 0.8rem;
}
.topForm select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.midForm .txtMainBlack{
    color: #000;
    font-size: 0.8rem;
    font-weight: 600;
}
.midForm .inputIcon{
    position: absolute;
    top: 6px;
    right: 23px;
    border-radius: 3rem;
    width: 25px;
    height: 25px;
    padding: 4px;
    font-size: 13px;
    color: #7f8fa3;
}
.midForm select.form-control {
    background-color: #eff1f2;
    border: 0px;
    border-radius: 0.6rem;
    font-size: 0.8rem;
}
.midForm select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.bottomForm .txtMain{
    color: #103cb9;
    font-size: 0.8rem;
    font-weight: 600;
}
.bottomForm > .row{
    border-bottom: 1px solid #e5e9ed;
    margin-top:0.3rem; 
}
.weekSelect{
    margin-top:0.3rem;
}
.customcheck {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 0.5rem;
}
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}
.customcheck input:checked ~ .checkmark {
    background-color: #58b02f;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(16, 60, 185, 0.13);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.customcheck input:checked ~ .checkmark:after {
    display: block;
}
.customcheck .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.bottomForm input{
    background-color: #eff1f2;
    border: 0px;
    border-radius: 0.6rem;
    font-size: 0.8rem;
}
.input-append.date.form_datetime input{
    background-color: #eff1f2;
    border: 0px;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.6rem;
    color: #495057;
}
.bottomForm .inputIcon{
    position: absolute;
    top: 6px;
    right: 23px;
    border-radius: 3rem;
    width: 25px;
    height: 25px;
    padding: 4px;
    font-size: 13px;
    color: #7f8fa3;
}
#activitySummary .close{
    float: right;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: none;
    opacity: 1;
}
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
    padding-top: 5rem;
}
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

.modal.right .modal-content {
    border-radius: 0;
    border: none;
}

.modal.right .modal-header {
    background-color: #182382;
    color: #fff;
    border-radius: 0px;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-bottom: 1rem;
}
#activitySummary .table thead th {
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}
td.modalDate {
    font-size: 0.8rem;
}
td.modalDay {
    font-size: 0.8rem;
}
td.modalHr {
    font-weight: 600;
    background-color: #f5f5f5;
    color: #182382;
}