input[type="text"]:disabled{
	background: #eeeeee;
	border: solid 1px #ccc;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
textarea.form-textarea{
	width: 90%;
	height: 2.5em;
	padding: 0px 10px;
	border: solid 1px #212121;
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
textarea.form-textarea:focus:not([readonly]){
	border: solid 1px #eaab00;
	box-shadow: 0 1px 0 0 #eaab00;
}

[type="checkbox"]:not(:checked),[type="checkbox"]:checked{
    position: inherit;
    opacity: 100;
    margin: 0px 25px;
}

textarea {
  width: 100%;
  height:auto;
  resize:none;
  background-color: transparent;
}

textarea.form-textarea {
  overflow-y: hidden;
  /* prevents scroll bar flash */
  padding: 10px;
  /* prevents text jump on Enter keypress */
  resize: none;
  min-height: 3rem;
}

.card .card-title {
    font-size: 19px;
    font-weight: 700;
}

.btn{
	width: 115px;
	text-transform: none;
	font-weight: 700;
	border-radius: 20px;
}
.btn-accept{
	background: #eaab00;
	color:#003946;
}

.btn-accept:hover{
	background: #4a7295;
	color:#fff;
}
.btn-decline{
	background: #fff;
	color:#424242;
	border: 2px #424242;
}

.btn-decline:hover{
	background: #4a7295;
	color:#fff;
	border:none;
}

select{
	display: block;
	background: #fff;
	border:solid 1px #424242;
}

.highlight{
	color:#4a72ab;
}

.hot{
	color:#a4383d;
}

.warm{
	color:#efbc33;
}

.cold{
	color:#003946;
}

.pale-blue{
	color:#4a7295;
}

.moneyHeader{
	border-bottom: solid 2px #eaab00;
	line-height: 2em;
}


.tablinks{
	font-size: 1em;

}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
ul.tab li {/*float: left;*/ display: table-cell; width: 180px;}
ul.tab li a {
	width: 100%;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    transition: 0.3s;
    /*font-size: 17px;*/
}

label{
    font-size:inherit;
}

.loginForm{
    width:50%;
    margin:auto;
}

.btn-login{
    background: #eaab00;
    color:#003946;
    width: 95%;
    border-radius: 0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    text-transform: none;
    font-weight: 700;
}

.btn-login:hover{
    background: #4a7295;
    color:#fff;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.container-4{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 #search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-4 #search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 #search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 #search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 #search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-4 a.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
      border-radius: 0px;
    border: solid 1px #212121;
        padding: 9.5px 17px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover a.icon, .container-4:active a.icon, .container-4:focus a.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}
 
.container-4:hover a.icon:hover{
  background: white;
      border: solid 1px #212121;
    border-radius: 0px;
        padding: 9.5px 16px;
}
        .fade {
  opacity: 100;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}


@media only screen and (max-width: 992px) {
	ul.tab li a {
		font-size: 12px;
	}
	.loginForm{
        width:75%;
        margin:auto;
        
    }
    
    .btn-login{
        background: #eaab00;
        color:#003946;
        width: 98%;
    }
}
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
	color: #fff;
	background:#eaab00;
}

nav ul li a:focus, .active {
	color: #eaab00;
	border-bottom: solid 2px #eaab00;
	background: #fafafa;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.subheader{
	display: table-cell;
	text-align: center;
}