<apex:page sidebar="false" standardStyleSheets="false" showHeader="false" standardController="Contact_Report__c" extensions="ContactReportForm" title="Contact Form">
    <apex:includeScript value="{!$Resource.Jquery}"/>
    <script src="{!URLFOR($Resource.EForms, 'js/bootstrap.min.js')}"></script>
    <script src="{!URLFOR($Resource.EForms, 'js/bootstrap-datepicker.min.js')}"></script>
    <script src="{!URLFOR($Resource.EForms, 'js/ease.js')}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"/>
        <script src="/resource/1530717601000/momentMinJs">
    </script>
    <apex:includeScript value="{!URLFOR($Resource.DIL_Resources, '/DIL_Resources/JS/ContactReportFormScript.js')}"/>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
    <apex:stylesheet value="{!URLFOR($Resource.EForms,'css/bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.EForms,'css/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.EForms,'css/bootstrap-datepicker.min.css')}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"/>
    <link href="https://fonts.googleapis.com/css?family=Titillium Web:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
    <script src="https://rawgit.com/select2/select2/master/dist/js/select2.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/select2/select2/master/dist/css/select2.min.css"/>
    <style>
        .requiredCss {
        color: red !important;
        //display:
        }
        #blurDivId {
        position: absolute;
        height: 200%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9050;
        background-color: rgba(255, 255, 255, 0.75);
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .2s ease,visibility 0s;
        transition: opacity .2s ease,visibility 0s;
        transition-delay: 0s, 0s;
        -webkit-transition-delay: 0s,.3s;
        transition-delay: 0s,.3s;
        }
        #discussedItemsDetailsTarget{
            text-align:center;
        }
        #nextStepsItemsDetailsTarget{
            text-align:center;
        }

    </style>
    <div id="blurDivId" style="display: none">
        <img src="/img/analytics/reportbuilder/icons/spinner32.gif" style="position: fixed; margin-left: 50%; margin-top: 20%"/>
    </div>
    <section>
        <div class="container">
            <div class="mainContentSection">
                <div class="topLogoSection">
                    <div class="row">
                        <div class="col-sm-3 logoBox1">
                            <apex:image url="{!URLFOR($Resource.NewContactReportLogo)}" styleClass="img-responsive logo1" />
                        </div>
                    </div>
                </div>
                <div class="headingBox">
                    <h4 class="formHeading">Contact Report</h4>
                    <hr class="topHR"/>
                </div>
                <div class="mainFormContainer">
                    <div class="mainFormBox">
                        <form action="">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="formLabel">Outlet Name</label>
                                        <input type="text" class="form-control formText" id = "outletNameId" disabled="disabled"/>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="formLabel">Date</label>
                                        <input type="text" class="form-control formText datepicker" id = "dateId" disabled="disabled"/>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="formLabel">Objectives</label>
                                        <textarea rows="4" class="form-control formTextArea" id = "objectivesId" ></textarea>
                                        <div class="requiredCss" id="objectivesIdError" style="display: none">Please Enter Details !</div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="formLabel">Venue</label>
                                        <input type="text" class="form-control formText" id = "placeId" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="formLabel">Attendees</label>
                                        <textarea rows="4" class="form-control formTextArea" id="attendeesId"></textarea>
                                    </div>
                                    <div class="requiredCss" id="attendeesIdError" style="display: none">Please Enter Details !</div>
                                </div>
                            </div>

                            <!-- Add Discussed Items-->
                            <div class="row">
                                <div class="addItemBox">
                                    <h5>Discussed Items:</h5>
                                    <div id="discussedItemsDetailsTarget"></div>
                                    <!-- Add Item Button -->
                                    <button class="btn btn-primary addDiscussedItemBtn" onclick="return false;"><i class="fa fa-plus"></i> Add Item</button>
                                </div>
                            </div>
                            <!-- Add Next Steps-->
                            <div class="row">
                                <div class="addItemBox">
                                    <h5>Next Steps:</h5>
                                    <div id="nextStepsItemsDetailsTarget"></div>
                                    <!-- Add Item Button -->
                                    <button class="btn btn-primary addNextStepsItemBtn" onclick="return false;"><i class="fa fa-plus"></i> Add Item</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="formLabel">Prepared By</label>
                                        <input type="text" class="form-control formText" id = "preparedBy" disabled = "disabled"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="formSubmitBox">
                        <button type="Save"   class="btn btn-success btnSubmit" id = "saveId" >Save</button>
                        <button type="submit" class="btn btn-success btnSubmit" id = "submitId" >Submit</button>
                        <button type="cancel" class="btn btn-default btnCancel" id = "cancelId" >Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Added modals for Discussed Items and Next Steps-->
    <!--Discussed Items Modal-->
    <div id="addDiscussedItemModal" class="modal fade addDiscussedItemModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Discussed Item</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="formLabel" style="min-height: 35px;">Topic</label>
                                <input type="text" class="form-control formText" id="disscussedItemTopic"/>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="formLabel">AGREEMENTS/ISSUES/CONCERNS</label>
                                <input type="text" class="form-control formText" id="disscussedItemAgreements"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="addDiscussedItemsOnForm(); return false;" class="btn btn-success">Add</button>
                    <button type="cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Next Steps Modal-->
    <div id="addNextStepsItemModal" class="modal fade addNextStepsItemModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Next Item</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="formLabel" style="min-height: 35px;">Activities</label>
                                <input type="text" class="form-control formText" id="nextStepItemActivities"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="formLabel" style="min-height: 35px;">Target Date</label>
                                <input class="form-control formText datepicker" id="nextStepItemTargetDate" type="text"/>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="formLabel">Person In Charge</label>
                                <input type="text" class="form-control formText" id="nextStepItemPersonInCharge"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="addNextItemsOnForm(); return false;" class="btn btn-success">Add</button>
                    <button type="cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var idParam = '{!$CurrentPage.parameters.id}';
        var submitBool = false;
        var userName = '{!$User.FirstName}' + ' ' + '{!$User.LastName}';
        var loggedInUserID = '{!$User.Id}';
    </script>
    <script type="text/html" id='discussedItemsDetailsTemplate'>
        <div class="table-responsive">
            <% var index = 0; %>
            <table class="table itemTable">
                <thead>
                    <tr>
                        <th>Item No.</th>
                        <th id="Topic__c">Topic</th>
                        <th id="Agreements_Issues_Concerns__c">Agreements</th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(contactReportForm.discObj.discussedItemDetails, function(item, key, list){ %>
                        <tr>
                            <td><% index = index + 1; %> <%= index %> </td>
                            <td class="lineBreak"> <%= item.Topic__c %></td>
                            <td class="lineBreak"> <%= item.Agreements_Issues_Concerns__c%></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

    </script>
    <script type="text/html" id='nextItemsDetailsTemplate'>
        <div class="table-responsive">
            <% var index = 0; %>
            <table class="table itemTable">
                <thead>
                    <tr>
                        <th>Item No.</th>
                        <th id="Actvitivies__c">Activities</th>
                        <th id="Person_In_Charge__c">Person In Charge</th>
                        <th id="Target_Date__c">Target Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(contactReportForm.discObj.nextItemDetails, function(item, key, list){ %>
                        <tr>
                            <td><% index = index + 1; %> <%= index %> </td>
                            <td class="lineBreak"> <%= item.Actvitivies__c%></td>
                            <td class="lineBreak"> <%= item.Person_In_Charge__c%></td>

                           <td>
                                    <% if ( undefined != item.Target_Date__c
                                         && '' != item.Target_Date__c) { %>
                                        <%= moment(item.Target_Date__c).format('L') %>
                                     <% } %>
                                 </td>

                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

    </script>
</apex:page>