<!--
Author       :   Kimiko Roberto
Created Date :   05.11.2017
Definition   :   SUpporting page for exporting csv for sales order
History      :   05.11.2017 - Kiko Roberto:  Created
             :   11.16.2017 - Adjell Pabayos: Enclosed values in Double Quotes to escape certain characters
-->
<apex:page controller="SalesOrderController" readOnly="true" contentType="application/vnd.ms-excel#{!fileName}.csv">{!header} 
<apex:repeat value="{!ordWrapper}" var="o">
"{!o.salesTypeName}","{!o.ordId}","{!o.businessUnitId}","{!o.businessUnitName}","{!o.distributorId}","{!o.distributorName}","{!o.accountId}","{!o.accountName}","{!o.sasId}","{!o.sasName}","{!o.dspId}","{!o.dspName}","{!o.salesOrderNum}","{!o.ordDate}","{!o.reqDeliveryDate}","{!o.paymentTerm}","{!o.orderItemId}","{!o.ordNum}","{!o.prodId}","{!o.prodName}","{!o.uom}","{!o.conversion}","{!o.ordQty}","{!o.ordPrice}","{!o.ordGrossAmnt}","{!o.ordDiscount}","{!o.ordVat}","{!o.ordNetAmnt}","{!o.invoiceNum}","{!o.invoiceDate}","{!o.invQty}","{!o.invPrice}","{!o.invGrossAmnt}","{!o.invDiscount}","{!o.invVat}","{!o.invNetAmnt}","{!o.overInvoiceReason}"
</apex:repeat>  
</apex:page>
<!--{!o.salesTypeName},{!o.ordId},{!o.businessUnitId},{!o.businessUnitName},{!o.distributorId},{!o.distributorName},{!o.accountId},{!o.accountName},{!o.sasId},{!o.sasName},{!o.dspId},{!o.dspName},{!o.salesOrderNum},{!o.ordDate},{!o.reqDeliveryDate},{!o.paymentTerm},{!o.orderItemId},{!o.ordNum},{!o.prodId},{!o.prodName},{!o.uom},{!o.conversion},{!o.ordQty},{!o.ordPrice},{!o.ordGrossAmnt},{!o.ordDiscount},{!o.ordVat},{!o.ordNetAmnt},{!o.invoiceNum},{!o.invoiceDate},{!o.invQty},{!o.invPrice},{!o.invGrossAmnt},{!o.invDiscount},{!o.invVat},{!o.invNetAmnt},{!o.overInvoiceReason} -->