<apex:page standardController="Month__c">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"/>

   <div>
  <apex:detail subject="{!Month__c}" relatedList="true" title="false" id="monthDetails"/>
  <script>
      $(document).ready(function() {

        console.log('---', '{!$User.Id}');

        $.each($('.labelCol'), function(index, value) {
            if('MANAGER' == (value.innerHTML.trim()).toUpperCase() ) {
                console.log($(value).next().html());
                /*if('{!$User.Id}' == $(value).next().html()) {
                    $('.actionColumn').show();
                } else {
                    $('.actionColumn').hide();
                }*/
                $(value).hide();
                $(value).next().hide();
                return false;
            }

        });

        $('[title="Submit for Approval"]').hide();
        $('[title="Recall Approval Request"]').hide();
        //$('.actionColumn').hide();

        $.each($('.pbTitle').find('h3'), function(index, value) {
            console.log('-----', $(value).html());
            if($(value).html().toUpperCase() == 'ACTIVITIES') {
                console.log('++++', $($(value).parents().find('.pbHeader')[2]).next().find('.actionColumn').hide()  );
            }
        });

      });
    //document.querySelector('[title="Submit for Approval"]').style.display = "none";
  </script>
  </div>
</apex:page>