<!-- Property Documentation
    [1] Parent Requisition (Boolean)
        a.) Display FALSE: The current record is Parent.
        b.) Display TRUE: The current record is Child.
        c.) For Indenpendent Requisition: Display FALSE.
-->
<apex:page showHeader="false" sidebar="false" standardController="ePAW_Form__c" extensions="ParentChildRequisition" readonly="true">
    <apex:form >
        <!-- Render Parent Requisition -->
        <apex:pageBlock title="Child Requisition(s)" rendered="{!isParentRequisition}">
            <apex:pageBlockSection columns="1">
                <apex:facet name="body">
                    <apex:outputPanel layout="none">
                        <apex:pageBlockTable id="tableAccounts" 
                            value="{!Paging.Requisitions}" 
                            var="child"
                            first="{!Paging.offset}"
                            rows="{!Paging.PageSize}">

                            <apex:column headerValue="Form No.">
                                <apex:outputLink rendered="{!isMobile}" value="/{!child.Id}">{!child.Name}</apex:outputLink>
                                <apex:outputlink rendered="{!NOT(isMobile)}" value="#" onclick="return openRequisitionDetailOnNewWindow('{!child.Id}');">{!child.Name}</apex:outputlink>
                            </apex:column>
                            <apex:column value="{!child.ROPS__c}" />
                            <apex:column value="{!child.Expense_Sales_Ratio_w_Promo__c}" />
                            <apex:column value="{!child.Customer_Group__c}" />
                            <apex:column value="{!child.Account__c}" />
                            <apex:column headerValue="Reporting Total Amount">
                                <apex:outputField value="{!child.Reporting_Total_Amount_Child__c}" />
                            </apex:column>
                        </apex:pageBlockTable>

                        <c:PagingToolbar paging="{!Paging}" rerender="tableAccounts" />
                    </apex:outputPanel>
                </apex:facet>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <!-- /Render Parent Requisition -->
        
        <!-- Render Child Requisition -->
        <apex:pageBlock title="Mother Requisition" rendered="{!isOrphanedRequisition}">
            <apex:pageMessage severity="{!ParentRequisitionStatusSeverity}" strength="2" title="Approval Status" summary="{!ParentRequisitionStatus}" />
            <apex:pageBlockSection columns="1">
                <apex:facet name="body">
                    <apex:outputPanel layout="none">
                        <apex:pageBlockTable id="tableAccounts" 
                            value="{!Paging.Requisitions}" 
                            var="parent"
                            first="{!Paging.offset}"
                            rows="{!Paging.PageSize}">

                            <apex:column headerValue="Form No.">
                                <apex:outputLink rendered="{!isMobile}" value="/{!parent.Id}">{!parent.Name}</apex:outputLink>
                                <apex:outputField rendered="{!NOT(isMobile)}" value="{!parent.Name}" />
                            </apex:column>
                            <apex:column value="{!parent.ROPS__c}" />
                            <apex:column value="{!parent.Expense_Sales_Ratio_w_Promo__c}" />
                            <apex:column value="{!parent.Customer_Group__c}" />
                            <apex:column value="{!parent.Account__c}" />
                            <apex:column headerValue="Reporting Total Amount">
                                <apex:outputField value="{!parent.Reporting_Total_Amount_Child__c}" />
                            </apex:column>
                        </apex:pageBlockTable>

                        <c:PagingToolbar paging="{!Paging}" rerender="tableAccounts" />
                    </apex:outputPanel>
                </apex:facet>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <!-- /Render Child Requisition -->
    </apex:form>
    <script>
        function openRequisitionDetailOnNewWindow(RequisitionId)
        {
            window.open('/' + RequisitionId,'_blank','width=900,height=400,toolbar=0,status=1,scrollbars=1,resizable=yes',!1)
        }
    </script>
</apex:page>