<apex:page showHeader="false" sidebar="false" standardStylesheets="false" standardController="Service_Level__c" extensions="ServiceLevelSurveyPageController">
<html lang="en">
    <head>
        <title>Service Level Survey</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
        <link rel="stylesheet" href="{!URLFOR($Resource.EForms,'css/bootstrap.min.css')}"/>
        <link rel="stylesheet" href="{!URLFOR($Resource.EForms,'css/style.css')}"/>
        <link rel="stylesheet" href="{!URLFOR($Resource.EForms,'css/bootstrap-datepicker.min.css')}"/>
        <link rel="stylesheet" href="{!URLFOR($Resource.EForms,'css/datetimePicker.css')}"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"/>
        <link href="https://fonts.googleapis.com/css?family=Titillium Web:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css" />
    </head>
    <style>
        #blurDivId {
            position: absolute;
            height: 200%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9050;
            background-color: rgba(255, 255, 255, 0.75);
            visibility: visible;
            opacity: 1;
            -webkit-transition: opacity .2s ease,visibility 0s;
            transition: opacity .2s ease,visibility 0s;
            transition-delay: 0s, 0s;
            -webkit-transition-delay: 0s,.3s;
            transition-delay: 0s,.3s;
        }
        .weight{
            text-align: center;
            vertical-align: middle !important;
        }
        .checkbox{
            height: 25px !important;
            width: 25px !important;
        }
    </style>
<body>
    <div id="blurDivId" style="display: none">
        <img src="/img/analytics/reportbuilder/icons/spinner32.gif" style="position: fixed; margin-left: 50%; margin-top: 20%"/>
    </div>
    <section>
        <div class="container">
            <div class="mainContentSection">
                <div class="topLogoSection">
                    <div class="row">
                        <div class="col-sm-3 logoBox1">
                            
                        </div>
                        <div class="col-sm-6 logoBox2">
                            <apex:image url="{!URLFOR($Resource.EForms, 'img/sanlogo1.png')}" styleClass="img-responsive logo2" />
                            <apex:image url="{!URLFOR($Resource.EForms, 'img/sanlogo.png')}" styleClass="img-responsive logo21" />
                        </div>
                        <div class="col-sm-3 logoBox3">
                            
                        </div>
                    </div>
                </div>
                <div class="mainFormContainer">
                    <div class="mainFormBox">
                        <form action="">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="headingBox">
                                        <h4 class="formHeading">Service Level Survey</h4>
                                        <hr class="topHR"/>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="formLabel">Outlet Name</label>
                                            <input type="text" class="form-control formText" id="{!$ObjectType.Service_Level__c.Fields.Outlet_Name__c.Name}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="formLabel">Outlet Location</label>
                                            <input type="text" class="form-control formText" id="{!$ObjectType.Service_Level__c.Fields.Outlet_Location__c.Name}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="formLabel">Outlet Code</label>
                                            <input type="text" class="form-control formText" id="{!$ObjectType.Service_Level__c.Fields.Outlet_Code__c.Name}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="formLabel">Franchisee / Service Provider</label>
                                            <input type="text" class="form-control formText" id="{!$ObjectType.Service_Level__c.Fields.Franchisee_Service_Provider__c.Name}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="formLabel">Assessment Date</label>
                                            <input type="text" class="form-control formText datepicker" id="{!$ObjectType.Service_Level__c.Fields.Assessment_Date__c.Name}"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="formLabel">Name of Staff on Duty</label>
                                            <input type="text" class="form-control formText" id="nameOfStaff"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="formLabel">Date of Discussion</label>
                                            <input type="text" class="form-control formText" id="{!$ObjectType.Service_Level__c.Fields.Date_of_Discussion__c.Name}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="headingBox">
                                        <h4 class="formHeading">Score &amp; Rating </h4>
                                        <hr class="topHR"/>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                          <thead>
                                            <tr class="bg-drak-gray">
                                              <th scope="col">PARAMETERS</th>
                                              <th scope="col">FINAL RATING</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>Product Quality</td>
                                              <td><label class="formLabel" id="Product_Quality__c"></label></td>
                                            </tr>
                                            <tr>
                                              <td>Display Quality</td>
                                              <td><label class="formLabel" id="Display_Quality__c"></label></td>
                                            </tr>
                                            <tr>
                                              <td>Availability</td>
                                              <td><label class="formLabel" id="Availability__c"></label></td>
                                            </tr>
                                            <tr>
                                              <td>Customer Service</td>
                                              <td><label class="formLabel" id="Customer_Service__c"></label></td>
                                            </tr>
                                            <tr>
                                              <td>Proper Grooming</td>
                                              <td><label class="formLabel" id="Proper_Grooming__c"></label></td>
                                            </tr>
                                          </tbody>
                                          <footer>
                                              <tr>
                                                <th>TOTALSCORE &amp; RATING (50%)</th>
                                                <th><label class="formLabel" id="Final_Rating__c"></label></th>
                                            </tr>
                                          </footer>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="headingBox">
                                        <h4 class="formHeading">Service Level Product Details: </h4>
                                        <hr class="topHR"/>
                                    </div>
                                    <div class="table-responsive">
                                          <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr class="bg-drak-gray">
                                                    <th rowspan="3">Product</th>
                                                    <th colspan="3">Product Quality</th>
                                                    <th colspan="3">Display Quality</th>
                                                    <th colspan="3" rowspan="2">Product Availablity of Must Carry SKUs</th>
                                                </tr>
                                                <tr class="bg-drak-gray">
                                                    <td colspan="3">Adherence to Product Quality based on Appearance and Standard Shelf-life</td>
                                                    <td colspan="3">Adherence to the approved Planogram and corresponding merchandising materials </td>
                                                </tr>
                                                <tr class="table-info">
                                                    <th width="13%">Actual Score</th>
                                                    <th>Weight</th>
                                                    <th>Final Rating</th>
                                                    <th width="13%">Actual Score</th>
                                                    <th>Weight</th>
                                                    <th>Final Rating</th>
                                                    <th width="13%">Actual Score</th>
                                                    <th>Weight</th>
                                                    <th>Final Rating</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:variable var="count" value="{!1}"/>
                                                <apex:repeat value="{!productList}" var="product" >
                                                    <tr data-productName="{!product}">
                                                        <td>{!product}</td>
                                                        <td>
                                                            <center>
                                                                <input class="productQuality {!$ObjectType.Service_Level_Product_Details__c.Fields.Actual_Score__c.Name} checkbox" type="checkbox" placeholder='Score'/>
                                                            </center>
                                                        </td>
                                                        <td class="weight" style="display:{!IF(count == 1, '', 'None')}" rowspan="9"><label class="formLabel">15%</label></td>
                                                        <td class="weight" style="display:{!IF(count == 1, '', 'None')}" rowspan="9"><label class="formLabel productQuality {!$ObjectType.Service_Level__c.Fields.Product_Quality_Final_Rating__c.Name}" id="productQualityFinalId"></label></td>

                                                        <td>
                                                            <center>
                                                                <input class="displayQuality {!$ObjectType.Service_Level_Product_Details__c.Fields.Actual_Score__c.Name} checkbox" type="checkbox" placeholder='Score'/>
                                                            </center>
                                                        </td>
                                                        <td class="weight" style="display:{!IF(count == 1, '', 'None')}" rowspan="9"><label class="formLabel">15%</label></td>
                                                        <td class="weight" style="display:{!IF(count == 1, '', 'None')}" rowspan="9"><label class="formLabel displayQuality {!$ObjectType.Service_Level__c.Fields.Display_Quality_Final_Rating__c.Name}" id="displayQualityFinalId"></label></td>

                                                        <td>
                                                            <center>
                                                                <input class="availablity  {!$ObjectType.Service_Level_Product_Details__c.Fields.Actual_Score__c.Name} checkbox" type="checkbox" placeholder='Score'/>
                                                            </center>
                                                        </td>
                                                        <td class="weight" style="display:{!IF(count == 1, '', 'None')}" rowspan="9"><label class="formLabel">10%</label></td>
                                                        <td class="weight" style="display:{!IF(count == 1, '', 'None')}" rowspan="9"><label class="formLabel availablity {!$ObjectType.Service_Level__c.Fields.Availablity_Final_Rating__c.Name}" id="availablityFinalId"></label></td>
                                                    </tr>
                                                    <apex:variable value="{!count+1}" var="count"/>
                                                </apex:repeat>
                                                <tr>
                                                    <td>Others</td>
                                                    <td><input type="text" placeholder='' class="form-control" id="productQualityOthersId"/></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td><input type="text" placeholder='' class="form-control" id="displayQualityOthersId"/></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td><input type="text" placeholder='' class="form-control" id="productAvailablityOthersId"/></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Total (No. of Ps over total Ps and Os)</td>
                                                    <td><input type="text" placeholder='Score' class="form-control" id="productQualityId"/></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td><input type="text" placeholder='Score' class="form-control" id="displayQualityId"/></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td><input type="text" placeholder='Score' class="form-control" id="productAvailablityId"/></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="headingBox">
                                        <h4 class="formHeading">Service Level Standards Details: </h4>
                                        <hr class="topHR"/>
                                    </div>
                                    <div class="table-responsive">
                                          <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr class="bg-drak-gray">
                                                    <th rowspan="3">Product</th>
                                                    <th colspan="3">Customer Service</th>
                                                    <th rowspan="3">Standards</th>
                                                    <th colspan="3">Proper Grooming</th>
                                                </tr>
                                                <tr class="bg-drak-gray">
                                                    <td colspan="3" width="35%">Adherence to the Steps of Customer Service  Guidelines : Consistently performs &amp; practices the steps to develop customer loyalty</td>
                                                    <td colspan="3">Adherence to the Standard Uniform and Grooming</td>
                                                </tr>
                                                <tr class="table-info">
                                                    <th>Actual Score</th>
                                                    <th>Weight</th>
                                                    <th>Final Rating</th>
                                                    <th>Actual Score</th>
                                                    <th>Weight</th>
                                                    <th>Final Rating</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                  <tr>
                                                    <td>Greets customer with a smile</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Greets customer with a smile"/>
                                                        </center>
                                                    </td>
                                                    <td class="weight" rowspan="12"><label class="formLabel">5%</label></td>
                                                    <td class="weight" rowspan="12"><label class="formLabel {!$ObjectType.Service_Level__c.Fields.Customer_Service_Final_Rating__c.Name}" product="Greets customer with a smile" id="customerServiceFinalId"></label></td>

                                                    <td>Hairnet</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Hairnet"/>
                                                        </center>
                                                    </td>
                                                    <td class="weight" rowspan="12"><label class="formLabel">5%</label></td>
                                                    <td class="weight" rowspan="12"><label class="formLabel {!$ObjectType.Service_Level__c.Fields.Proper_Grooming_Final_Rating__c.Name}" product="Hairnet" id="properGroomingFinalId"></label></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Mention outlet</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Mention outlet"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Mention outlet"></label></td> -->

                                                    <td>Visor/ Cap/ Beret</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Visor/ Cap/ Beret"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Visor/ Cap/ Beret"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Suggestive Selling</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Suggestive Selling" />
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Suggestive Selling"></label></td> -->
                                                    <td>Polo/ Shirt</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Polo/ Shirt"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Polo/ Shirt"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Preparation- prompt</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Preparation- prompt"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Preparation- prompt"></label></td> -->

                                                    <td>Black Pants</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Black Pants"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Black Pants"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Accurate</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Accurate"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Accurate"></label></td> -->

                                                    <td>Black shoes / boots</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Black shoes / boots"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Black shoes / boots"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Assurance- mention outlet</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Assurance- mention outlet"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Assurance- mention outlet"></label></td> -->

                                                    <td>Apron</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Apron"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Apron"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Get name/ Give name</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Get name/ Give name"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Get name/ Give name"></label></td> -->

                                                    <td>Nameplate</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Nameplate"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Nameplate"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Ask for referral</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Ask for referral"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Ask for referral"></label></td> -->

                                                    <td>Spit guard</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Spit guard"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Spit guard"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Thank customer sincerely</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Thank customer sincerely"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Thank customer sincerely"></label></td> -->

                                                    <td>No Jewelries</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="No Jewelries"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="No Jewelries"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Ask for repeat business</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Ask for repeat business"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Ask for repeat business"></label></td> -->

                                                    <td>Short nails</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Short nails"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Short nails" ></label></td> -->
                                                  </tr>
                                                  <tr>
                                                      <td>Mention outlet</td>
                                                      <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Mention outlet"/>
                                                        </center>
                                                    </td>
                                                      <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Mention outlet"></label></td> -->

                                                    <td>Good Grooming</td>
                                                    <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Good Grooming"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Good Grooming"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                      <td>Profit with honor</td>
                                                      <td>
                                                        <center>
                                                            <input type="checkbox" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} checkbox" product="Profit with honor"/>
                                                        </center>
                                                    </td>
                                                      <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Profit with honor"></label></td> -->


                                                    <td>Others</td>
                                                    <td>
                                                        <center>
                                                            <input type="text" placeholder='Score' class="{!$ObjectType.Service_Level_Standards_Details__c.Fields.Actual_Score__c.Name} form-control" product="Others"/>
                                                        </center>
                                                    </td>
                                                    <!-- <td><label class="formLabel {!$ObjectType.Service_Level_Standards_Details__c.Fields.Final_Rating__c.Name}" product="Others"></label></td> -->
                                                  </tr>
                                                  <tr>
                                                    <td>Total (No. of Ps over total Ps and Os)</td>
                                                    <td><input type="text" placeholder='Score' class="form-control" id="customerServiceId"/></td>
                                                    <td></td>
                                                    <td></td>

                                                    <td>Total (No. of Ps over total Ps and Os)</td>
                                                    <td><input type="text" placeholder='Score' class="form-control" id="properGroomingId"/></td>
                                                    <td></td>
                                                    <td></td>
                                                  </tr>


                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="4"><i>Prepared by : <span id="preparedbyId"/></i></th>
                                                    <th colspan="4"><i>Reviewed by : <span id="reviewedbyId"/></i></th>
                                                </tr>
                                                <tr>
                                                    <th colspan="4"><i>(Signature over printed name/ date) <br/> Sales Account Specialist : <span id="sasId"/></i></th>
                                                    <th colspan="4"><i>(Signature over printed name/ date)<br/>Unit Sales Manager : <span id="usmId"/></i></th>
                                                </tr>
                                            </tfoot>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div class="formSubmitBox">
                        <button type="cancel" onclick="window.close();" class="btn btn-default">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Jquery -->
    <script src="{!URLFOR($Resource.EForms, 'js/jquery.js')}"></script>
    <script src="{!URLFOR($Resource.EForms, 'js/bootstrap.min.js')}"></script>
    <script src="{!URLFOR($Resource.EForms, 'js/bootstrap-datepicker.min.js')}"></script>
    <script src="{!URLFOR($Resource.EForms, 'js/ease.js')}"></script>

    <!-- Date Time picker -->
    <script src="{!$Resource.momentMinJs}"></script>
    <script src="{!URLFOR($Resource.EForms, 'js/datetimePicker.js')}"></script>

    <script>
        var serviceForm = {};
        serviceForm.serviceObj = {};
        $(document).ready(function(){
            $('#blurDivId').show();
            $('.datepicker').datepicker();

            $('#timeofvisit').datetimepicker({
                format: 'LT'
            });

            serviceForm.serviceId = '{!$CurrentPage.parameters.id}';
            console.log('...serviceForm.serviceId: ', serviceForm.serviceId);
            if(undefined != serviceForm.serviceId && '' != serviceForm.serviceId ) {
                serviceForm.fetchServiceRecord();
                serviceForm.fetchRelatedProductDetails();
                serviceForm.fetchRelatedStandardDetails();
            } else {
                alert('Record id is missing.!');
                $('#blurDivId').hide();
            }

        });

        serviceForm.formatDate = function(timestamp) {
            return moment(timestamp).format('L');
        }

        serviceForm.fetchServiceRecord = function () {
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.ServiceLevelSurveyPageController.getExistingServiceLevel}',
                serviceForm.serviceId,
                function(result, event) {
                    console.log('...result: ', result);
                    if (event.status) {
                        serviceForm.serviceObj = result;
                        serviceForm.populateServieData();
                    } else if (event.type === 'exception') {
                        $('#blurDivId').hide();
                    }

                    $('#Product_Quality__c').text(result.Product_Quality_Final_Rating__c);
                    $('#Display_Quality__c').text(result.Display_Quality_Final_Rating__c);
                    $('#Availability__c').text(result.Availablity_Final_Rating__c);
                    $('#Customer_Service__c').text(result.Customer_Service_Final_Rating__c);
                    $('#Proper_Grooming__c').text(result.Proper_Grooming_Final_Rating__c);
                    $('#Final_Rating__c').text(result.Final_Rating__c);

                    $('#productQualityId').val(result.Product_Quality__c);
                    $('#displayQualityId').val(result.Display_Quality__c);
                    $('#productAvailablityId').val(result.Availability__c);
                    $('#productQualityFinalId').text(result.Product_Quality_Final_Rating__c);
                    $('#displayQualityFinalId').text(result.Display_Quality_Final_Rating__c);
                    $('#availablityFinalId').text(result.Availablity_Final_Rating__c);
                    if(result.Discussed_with__r) {
                        $('#discussedwithId').text(result.Discussed_with__r.Name);
                    }
                    if(result.Franchisee_Team_Leader__r) {
                        $('#franchiseeId').text(result.Franchisee_Team_Leader__r.Name);
                    }
                    $('#customerServiceId').val(result.Customer_Service__c);
                    $('#properGroomingId').val(result.Proper_Grooming__c);
                    $('#customerServiceFinalId').text(result.Customer_Service_Final_Rating__c);
                    $('#properGroomingFinalId').text(result.Proper_Grooming_Final_Rating__c);
                    if(result.Prepared_by__r) {
                        $('#preparedbyId').text(result.Prepared_by__r.Name);
                    }
                    if(result.Reviewed_by__r) {
                        $('#reviewedbyId').text(result.Reviewed_by__r.Name);
                    }
                    if(result.Sales_Account_Specialist__r) {
                        $('#sasId').text(result.Sales_Account_Specialist__r.Name);
                    }
                    if(result.Unit_Sales_Manager__r) {
                        $('#usmId').text(result.Unit_Sales_Manager__r.Name);
                    }
                },
                {escape: false}
            );
        };

        serviceForm.fetchRelatedProductDetails = function () {
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.ServiceLevelSurveyPageController.fetchRelatedProductDetails}',
                serviceForm.serviceId,
                function(result, event) {
                    console.log('...result: ', result);
                    if (event.status) {
                        serviceForm.poulateRelatedProductDetails(result);
                    } else if (event.type === 'exception') {
                        $('#blurDivId').hide();
                    }
                },
                {escape: false}
            );
        };

        serviceForm.poulateRelatedProductDetails = function(wrapper) {
            for (var wrapStr in wrapper ) {
                var wrapObj = wrapper[wrapStr];
                for ( var product in wrapObj) {
                    var trElem = $('tr[data-productname="'+product+'"]');
                    var serviceProductDetail = wrapObj[product];
                    if(serviceProductDetail['Actual_Score__c'] == 'TRUE') {
                        trElem.find('.' + wrapStr + '.Actual_Score__c').prop('checked', true);

                        $.each(wrapObj, function(index, value) {
                            console.log('---555----', value);
                            if(value['Others__c']) {
                                if(wrapStr == "productQuality") {
                                    $('#productQualityOthersId').val(value['Others__c']);
                                }
                                if(wrapStr == "displayQuality") {
                                    $('#displayQualityOthersId').val(value['Others__c']);
                                }
                                if(wrapStr == "availablity") {
                                    $('#productAvailablityOthersId').val(value['Others__c']);
                                }
                            }
                        });


                    } else if(serviceProductDetail['Actual_Score__c'] == 'N/A') {
                        // trElem.find('.' + wrapStr + '.Actual_Score__c').prop('checked', true);
                        trElem.find('.' + wrapStr + '.Actual_Score__c').attr('type','text');
                        trElem.find('.' + wrapStr + '.Actual_Score__c').css('background-color','white');
                        trElem.find('.' + wrapStr + '.Actual_Score__c').css('border','0px none');
                        trElem.find('.' + wrapStr + '.Actual_Score__c').val('N/A');

                    }
                    //trElem.find('.' + wrapStr + '.Final_Rating__c').text(serviceProductDetail['Final_Rating__c']);
                }
            }
        }

        serviceForm.fetchRelatedStandardDetails = function () {
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.ServiceLevelSurveyPageController.fetchRelatedStandardDetails}',
                serviceForm.serviceId,
                function(result, event) {
                    console.log('...result: ', result);
                    if (event.status) {
                        serviceForm.poulateRelatedStandardDetails(result);
                        $('#blurDivId').hide();
                    } else if (event.type === 'exception') {
                        $('#blurDivId').hide();
                    }
                },
                {escape: false}
            );
        };

        serviceForm.poulateRelatedStandardDetails = function(wrapper) {
            for (var wrapStr in wrapper ) {
                var wrapObj = wrapper[wrapStr];
                console.log(wrapStr);
                console.log(wrapObj);
                if(wrapObj['Actual_Score__c'] == 'TRUE') {
                    if('Others' == wrapStr) {
                        $('input[product="'+ wrapStr +'"].Actual_Score__c').val(wrapObj['Others__c']);
                    } else {
                        $('input[product="'+ wrapStr +'"].Actual_Score__c').prop('checked', true);
                    }
                } else if(wrapObj['Actual_Score__c'] == 'N/A') {
                    // trElem.find('.' + wrapStr + '.Actual_Score__c').prop('checked', true);
                    $('input[product="'+ wrapStr +'"].Actual_Score__c').attr('type','text');
                    $('input[product="'+ wrapStr +'"].Actual_Score__c').css('background-color','white');
                    $('input[product="'+ wrapStr +'"].Actual_Score__c').css('border','0px none');
                    $('input[product="'+ wrapStr +'"].Actual_Score__c').val('N/A');

                }
                //$('label[product="'+ wrapStr +'"].Final_Rating__c').text(wrapObj['Final_Rating__c']);
            }
        }

        serviceForm.populateServieData = function() {
            for ( field in serviceForm.serviceObj ) {
                if( $("#" + field).is('label') ) {
                    $("#" + field).text(serviceForm.serviceObj[field]);

                } else if($("#" + field).is('select')) {
                    $('#' + field ).val(serviceForm.serviceObj[field]).change();

                } else {
                    $("#" + field).val(serviceForm.serviceObj[field]);
                }
            }
            if( undefined != serviceForm.serviceObj.Name_of_Staff_on_Duty__r) {
                $('#nameOfStaff').val(serviceForm.serviceObj.Name_of_Staff_on_Duty__r.Name);
            }

            if(undefined != serviceForm.serviceObj.Assessment_Date__c) {
                $("#Assessment_Date__c").val(serviceForm.formatDate(serviceForm.serviceObj.Assessment_Date__c));
            }
            $('.form-control').attr('disabled','disabled');
            $('.checkbox').attr('disabled','disabled');
        }
    </script>

</body>
</html>
</apex:page>