<!--
Author       :   Kimiko Roberto
Created Date :   05.11.2017
Definition   :   Successful VF page for Sales Order
History      :   05.11.2017 - Kiko Roberto:  Created
-->
<apex:page controller="SalesOrderController" readOnly="true" contentType="application/vnd.ms-excel#SuccessfulSalesOrderRecords.csv">{!header} 
 
  <apex:repeat value="{!updateListSuccess}" var="o">
       {!o.salesTypeName},{!o.ordId},{!o.distributorName},{!o.distributorId},{!o.accountName},{!o.accountId},{!o.sasName},{!o.sasId},{!o.dspName},{!o.dspId},{!o.ordNum},{!o.ordDate},{!o.reqDeliveryDate},{!o.invoiceNum},{!o.invoiceDate},{!o.paymentTerm},{!o.orderItemId},{!o.prodName},{!o.prodId},{!o.uom},{!o.conversion},{!o.ordQty},{!o.ordPrice},{!o.ordGrossAmnt},{!o.ordDiscount},{!o.ordVat},{!o.ordNetAmnt},{!o.invQty},{!o.invPrice},{!o.invGrossAmnt},{!o.invDiscount},{!o.invVat},{!o.invNetAmnt},{!o.overInvoiceReason},{!o.businessUnitName},{!o.businessUnitId} 
  </apex:repeat>  
</apex:page>