<apex:page standardController="Order__c" extensions="OrderProductPagePDFCX" renderAs="pdf" applyHtmlTag="false" showheader="false">
    
<head>
<style>
@page { 
    size: letter portrait;
    
    margin-bottom: 200px;
    
    @top-left {
        content: element(header_left);
    }
    
    @top-center {
        content: element(header_center);
    }
    
    @top-right {
        content: element(header_right);
    }
    
    @bottom-left {
        content: element(footer_left);
    }
    
    @bottom-center {
        content: element(footer_center);
    }
    
    @bottom-right {
        content: element(footer_right);
    }
}

.header_left {
    text-align: left;
    position: running(header_left);
}

.header_center{
    text-align: center;
    position: running(header_center);
}

.header_right {
    text-align: right;
    position: running(header_right);
}

.footer_left {
    text-align: left;
    position: running(footer_left);
}

.footer_center {
    text-align: center;
    position: running(footer_center);
}

.footer_right {
    text-align: right;
    position: running(footer_right);
}

.pageNumber:before {
    content: counter(page); 
}

.pageCount:before {
    content: counter(pages);  
}

.currency{
    text-align: right;
    font-size: 11px; 
    font-family: Arial, Helvetica, sans-serif;"
}

.header2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;"
}
.tableHeader{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F8F8F8;"
}
.tablecontent{
    font-size: 11px; 
    font-family: Arial, Helvetica, sans-serif;"

}



</style>
</head>
    <apex:form >
    <body>
        <center>
                <br/><br/><br/><br/><br/><br/>
                <table style="background-color: #E0E0E0;" id="theGrid" align="center" width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4"><h2 style="font-family: Arial, Helvetica, sans-serif;">Sales Information Form</h2></td> 
                        </tr>
                        <tr align="left">
                            <td><span><apex:outputLabel styleClass="header2" value="{!$ObjectType.Order__c.fields.Account__c.label}: "/></span></td>
                            <td><span><b><apex:outputText styleClass="header2" value="{!currentOrderRec.Account__r.Name}"/></b></span></td>
                            <td><span><apex:outputLabel styleClass="header2" value="Date: "/></span></td>
                            <td>
                                <span>
                                    <b>
                                    <apex:outputText styleClass="header2" value="{0, date, MMMM d','  yyyy}">
                                        <apex:param value="{!currentOrderRec.Order_Date__c}" />
                                    </apex:outputText>
                                    </b>
                                </span>
                            </td>
                        </tr>
                        <tr align="left">
                            <td><span><apex:outputLabel styleClass="header2" value="{!$ObjectType.Order__c.fields.Distributor_Code__c.label}: "/></span></td>
                            <td><span><b><apex:outputText styleClass="header2" value="{!currentOrderRec.Account__r.Distributor__r.Distributor_Code__c}"/></b></span></td>
                            <td><span><apex:outputLabel styleClass="header2" value="{!$ObjectType.Order__c.fields.Name.label}: "/></span></td>
                            <td><span><b><apex:outputText styleClass="header2" id="accountName" value="{!currentOrderRec.Name}" /></b></span></td>
                        </tr>
                    </tbody>
                </table>
                
                <table width="100%" cellspacing="0" cellpadding="0">
                 <tr style="background-color: #606060 ;">
                   <th class="tableHeader" width="5%">Item No.</th>
                   <th class="tableHeader">Product Name</th>
                   <!--<th class="tableHeader">Order Quantity</th>-->
                   <th class="tableHeader">Qty</th>
                   <th class="tableHeader">UOM</th>
                   <th class="tableHeader"></th>
                   <th class="tableHeader">Price</th>
                   <th class="tableHeader"></th>
                   <th class="tableHeader">Discount</th>
                   <!--<th class="tableHeader">Gross Amount</th>-->
                   <th class="tableHeader"></th>
                   <th class="tableHeader">VAT</th>
                   <th class="tableHeader"></th>
                   <th class="tableHeader">Total Amount</th>
                 </tr>
                 <tr><td colspan="12">&nbsp;</td></tr>
                 <apex:repeat var="orderItem" value="{!orderitemsList}">
                 <tr align="left">
                   <td class="tablecontent" style="text-align:right">{!orderItem.rowNum}.&nbsp;&nbsp;</td>
                   <td class="tablecontent">{!orderItem.orderItemRec.Product__r.Name}</td>
                   <!--<td style="font-size: 13px; font-family: Arial, Helvetica, sans-serif;">{!orderItem.orderItemRec.orderItemrec.Order_Quantity__c}</td> -->
                   <td class="tablecontent">{!orderItem.orderItemRec.Invoice_Quantity__c}</td> 
                   <td class="tablecontent">{!orderItem.orderItemRec.Conversion__r.UOM__r.name}</td>
                   <td class="currency">&nbsp;&nbsp;P</td>
                   <td class="currency">{!orderItem.orderItemRec.Price__c}</td>
                   <td class="currency">&nbsp;&nbsp;P</td>
                   <td class="currency">{!IF(orderItem.orderItemRec.Invoice_Total_Product_Discount__c != null && orderItem.orderItemRec.Invoice_Total_Product_Discount__c != 0,orderItem.orderItemRec.Invoice_Total_Product_Discount__c,orderItem.orderItemRec.Order_Total_Product_Discount__c)}</td>
                   <!--<td class="currency">{!orderItem.orderItemRec.Discount_PHP__c}</td>-->
                   <!--<td style="font-size: 13px; font-family: Arial, Helvetica, sans-serif;">P {!orderItem.orderItemRec.orderItemrec.Gross_Value__c}</td> -->
                   <td class="currency">&nbsp;&nbsp;P</td>
                   <td class="currency">{!orderItem.orderItemRec.VAT_Amount__c}</td>
                   <td class="currency">&nbsp;&nbsp;P</td>
                   <td class="currency">{!orderItem.orderItemRec.Invoice_Net_of_Discount__c}</td>
                   <!--<td class="currency">{!orderItem.orderItemRec.Invoice_Net_Total__c}</td>-->
                 </tr>
                 </apex:repeat>
                </table>
                <c:PDFHeaderFooter type="footer" position="left">
                <table id="theGrid" align="right" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr align="right" class="header2">
                            <td><span><b class="header2">Subtotal &nbsp; &nbsp;</b></span></td>
                            <td style=" border-left: 1px solid; border-right: 1px solid; border-top: 1px solid; border-bottom: 1px solid; height: 30px; width: 120px">
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                    <td class="header2" align="left">&nbsp;P</td>
                                    <td align="right">
                                        <span> 
                                            <apex:outputText styleClass="header2" value="{0, number, ###,###.0000}">
                                            <apex:param value="{!subtotal}" />
                                            </apex:outputText>
                                            &nbsp;
                                        </span>
                                    </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr align="right" class="header2">
                            <td><span><b class="header2">Discount &nbsp; &nbsp;</b></span>
                            </td>
                            <td style=" border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; height: 30px; width: 120px">
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                    <td class="header2" align="left">&nbsp;P</td>
                                    <td align="right">
                                        <span> 
                                            <apex:outputText styleClass="header2" value="{0, number, ###,###.0000}">
                                            <apex:param value="{!IF(totalDiscount=null,0,totalDiscount)}" />
                                            </apex:outputText>
                                            &nbsp;
                                        </span>
                                    </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr align="right" class="header2">
                            <td><span><b class="header2">VAT Amount &nbsp; &nbsp;</b></span>
                            </td>
                            <td style=" border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; height: 30px; width: 120px">
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                    <td class="header2" align="left">&nbsp;P</td>
                                    <td align="right">
                                        <span> 
                                            <apex:outputText styleClass="header2" value="{0, number, ###,###.0000}">
                                            <apex:param value="{!vatAmount}" />
                                            </apex:outputText>
                                            &nbsp;
                                        </span>
                                    </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr align="right" class="header2">
                            <td><span><b class="header2">Total &nbsp; &nbsp;</b></span></td>
                            <td style=" border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; height: 30px; width: 120px">
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                    <td class="header2" align="left">&nbsp;P</td>
                                    <td align="right">
                                        <span> 
                                            <apex:outputText styleClass="header2" value="{0, number, ###,###.0000}">
                                            <apex:param value="{!total}" />
                                            </apex:outputText>
                                            &nbsp;
                                        </span>
                                    </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                     </tbody>
                 </table>
                 </c:PDFHeaderFooter>
        </center>
    </body>
    </apex:form>

</apex:page>