<!--
###########################################################################
# Author................: Naveen Ila
# Created Date..........: 2017-06-09
# Last Modified by......:
# Last Modified Date....:
# Description...........: This is component used to display .
###########################################################################
-->

<apex:component controller="OrderDetailandOrderItemsList" allowDML="true">
    <head>
    <style>
        .headerSize{
          font-size: 12px;
        }
        .footerColor{
          background-color: Darkgrey;
        }
        .alert {
        padding: 8px;
        }
        
    </style>
    </head>
    <apex:attribute name="WrapperClass" assignTo="{!SearchWrapperCls}" type="SearchWrapper" description="WrapperClass of selected Opportunity"/>
    <apex:attribute name="printMode" type="Boolean" description="To know whiether it is print mode or not"/>

    <apex:actionFunction name="saveOLI" action="{!SaveOppLineItems}" reRender="pageBlockId,pageBlockTableId"  status="status" oncomplete="showSuccessMsg();">
        <apex:param name="firstParam" assignTo="{!strJSON}" value=""/>
    </apex:actionFunction>
    <!-- <apex:actionFunction name="approveOL" action="{!approveOrderItems}" reRender="pageBlockId" /> -->
    
    <center></center>
    <apex:pageBlock id="pageBlockId" >
    
    <apex:outputPanel rendered="{!printmode}">
        <center>
            <apex:image url="/servlet/servlet.ImageServer?id=0150l000000DGDb&oid=00D0l0000000SgW&lastMod=1498828991000" width="130" height="55"/>
            <br/>
            <span style="font-weight:bold; color: #015591; font-family: Arial Unicode MS; font-size: 20px;"><b>ORDER SUMMARY</b></span><br/>
            <span id="test" style="font-size: 14px; color: #3f5259; font-family: Arial Unicode MS;">Created By: &nbsp;<apex:outputText value="{!opp.CreatedBy.Name}"></apex:outputText></span><br/>
            <span id="test" style="font-size: 14px; color: #3f5259; font-family: Arial Unicode MS;">Date Today: &nbsp;<apex:outputText value="{!systemDateToday}"></apex:outputText></span>
        </center><br/><br/>
    </apex:outputPanel>
    
    
    <apex:pageBlockButtons >
        <apex:commandButton value="Back" action="{!btnBack}" />
        <apex:commandButton value="Edit" action="{!btnEdit}" rendered="{!isDraft}"/>
        <apex:commandButton value="Proceed" action="{!btnProceed}" rendered="{!isDraft}"/>
    </apex:pageBlockButtons>

    <!-- <apex:outputText value="{!opp.Po_Document__c}" style="display: none;" /> -->
    <!-- changed column fro 2 to 1 Kiko Roberto 03192018-->
        <apex:pageBlockSection columns="1">
            <apex:pageBlockSection columns="2">
                <apex:repeat value="{!oppFldApiNms}" var="f">
                     <apex:outputField value="{!opp[f]}"/>
                </apex:repeat>
            </apex:pageBlockSection>
         
            <apex:pageBlockSection columns="1">   
             
                 <apex:outputLink value="{!URLFOR($Action.Attachment.Download,opp.Po_Document__c)}" target="_blank" rendered="{!NOT(ISBLANK(opp.Po_Document__c))}">
                  <img src="{!URLFOR($Resource.OrderSummaryResources, '/3pAttachmentImage.jpg')}" style="width: 5%;"/>
                 Po Document 
                </apex:outputLink>

                <apex:outputLink value="{!URLFOR($Action.Attachment.Download,opp.Deposit_Slip__c)}"  target="_blank" rendered="{!NOT(ISBLANK(opp.Deposit_Slip__c))}">
                  <img src="{!URLFOR($Resource.OrderSummaryResources, '/3pAttachmentImage.jpg')}" style="width: 5%;" />
                 Deposit Slip
                </apex:outputLink>
             
            </apex:pageBlockSection>
        </apex:pageBlockSection>
      
      <apex:outputPanel rendered="{!oppLineItems.size!=0}">
      
        <br/><br/>
        <span style="font-weight:bold; color: #015591; font-family: Arial Unicode MS; font-size: 16px;"><b>ORDER ITEMS</b></span>
                
        <apex:variable var="serNum" value="{!1}" />
        <apex:variable var="list" value="{!''}{!SearchWrapperCls.oliCsDet.Field_Names__c}" />
        <apex:outputPanel rendered="{!NOT(printMode)}">
          <div style="float:left;width:95%;">
            <span id="statusErrorMsg" style="display: none;margin-top: -3px;">
            <apex:outputPanel style="padding:0px;">
                <div class="message confirmM4" id="searchResultsWarningMessageBox">
                    <table class="messageTable" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td><img src="/img/s.gif" alt="Warning" class="msgIcon" title="Warning"/></td>
                                <td class="messageCell"><div class="messageText">{!alertMessage}</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </apex:outputPanel>
          </span>
          </div>
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!OR(list!='',SearchWrapperCls.oliCsDet.Name==stageName)}">
        <div style="float: right;">
            <input type="button" id="saveBtn" class="btn SubmitClass" onclick="confirmSave();" style="font-size: 12px;" value="Submit" disabled="true"/>
            <!--<apex:commandButton value="Submit" action="{!SaveOppLineItems}" reRender="pageBlockId" styleClass="submitCls"/>-->
        </div>
        </apex:outputPanel>
        <br/><br/>
        <apex:pageBlockTable value="{!oliProdWrapperList}" var="prod" id="prodTable" rendered="{!IF(opp.Status__c!='For Receiving',true,false)}">
            <apex:column headerValue="#" value="{!prod.itemNumber}" />
            <apex:column value="{!prod.brand}" headerValue="{!$ObjectType.Brand__c.Label}"/>
            <apex:column value="{!prod.scale}" headerValue="{!$ObjectType.Scale__c.Label}"/>
            <apex:column value="{!prod.prodGroup}" headerValue="{!$ObjectType.Product_Group__c.Label}"/>
            <apex:column value="{!prod.matCode}" headerValue="{!$ObjectType.Custom_Product__c.fields.SKU_Code__c.Label}"/>
            <apex:column value="{!prod.prodName}" headerValue="{!$ObjectType.Custom_Product__c.fields.Name.Label}"/>
            <apex:column value="{!prod.qty}" headerValue="{!$ObjectType.Order_Item__c.fields.Order_Quantity__c.Label}"/>
            <apex:column value="{!prod.uom}" headerValue="{!$ObjectType.Order_Item__c.fields.SellingUOM__c.Label}"/>
            <apex:column style="text-align: right;" headerValue="{!$ObjectType.Order_Item__c.fields.Estimated_Amount__c.Label}">
                <apex:outputText value="{0, number, ###,##0.00}" >
                    <apex:param value="{!prod.amt}" />
                </apex:outputText>
            </apex:column>
        </apex:pageBlockTable>   
        <!-- Kiko Roberto: commented out 03/12/2018 -->
        <apex:pageBlockTable value="{!oppLineItems}" id="pageBlockTableId" var="oli" rendered="{!IF(opp.Status__c=='For Receiving',true,false)}">
        
            <apex:column >
                <apex:facet name="header">
                    <apex:outputText value="#" styleClass="headerSize"/>
                </apex:facet>
                <apex:outputText value="{!serNum}" />
                <apex:variable var="serNum" value="{!serNum + 1}"/>
            </apex:column>
            
            <apex:repeat value="{!IF(!isPoultry,fldApiNms,fldApiPoultNms)}" var="f" rendered="FALSE">
            
                 <apex:column footerClass="footerColor" rendered="TRUE" >
                    <apex:facet name="header">
                        <apex:outputText value="{!$ObjectType.Order_Item__c.Fields[f].label}" styleClass="headerSize"/>
                    </apex:facet>
                    
                    <apex:outputPanel rendered="{!NOT(printMode)}">
                        <div data-recordId="{!oli.Id}">
                        <apex:outputPanel rendered="{!list!=''}">
                            <apex:inputField value="{!oli[f]}" id="inptFieldClsId" rendered="{!AND(CONTAINS(list, f),NOT(oli.Received__c),NOT(printMode))}" onkeyup="formatField(this);" styleClass="inptFieldCls{!serNum}" onchange="fieldUpdate(this, {!oli.Id});">
                            <br/>
                            <span id="inptfldErrId" class="errmsg inptfldErr{!serNum}" style="color: red;"></span>
                            </apex:inputField>
   
                            <apex:inputField id="remarks" value="{!oli[f]}" rendered="{!AND(NOT(oli.Received__c),(f=='Remarks__c'))}" onchange="fieldUpdate(this, {!oli.Id});"/>
                            <apex:inputField id="sizeRange" value="{!oli[f]}" rendered="{!f=='Size_Range__c'}"/>
                            <apex:outputField id="outremarks" value="{!oli[f]}" rendered="{!AND(oli.Received__c,(OR(f=='Remarks__c',f=='Size_Range__c')))}"/> 
                            <apex:inputField id="catchWeight" value="{!oli[f]}" rendered="{!f=='Catch_Weight__c' && oli['Product__r.Catch_Weight_UOM__c']==TRUE}" onkeyup="formatField(this);" onchange="fieldUpdate(this, {!oli.Id});"/>                         
                            <!--<apex:outputField value="{!oli[f]}" rendered="{!!AND(CONTAINS(list, f),NOT(oli.Received__c), f=='Catch_Weight__c')}" />-->
                            <apex:outputField value="{!oli[f]}" rendered="{!!AND(CONTAINS(list, f),NOT(oli.Received__c)) && f!='Catch_Weight__c' && f!='Order_Quantity__c' && f!='Remarks__c'}"/>
                            <apex:outputField id="orderQty" value="{!oli[f]}" rendered="{!f=='Order_Quantity__c'}"/>

                            <apex:inputText id="qtyRem" rendered="{!f=='Test__c'}" value="{!oli.Test__c}" style="display:none;"/>
                            <apex:outputText id="qtyRemHidden" value="" rendered="{!f=='Order_Quantity__c'}" style="display:none;"/>
                        </apex:outputPanel>
                        </div>
                        <apex:outputPanel rendered="{!list==''}">
                            <apex:outputField value="{!oli[f]}" />
                        </apex:outputPanel>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!printMode}">
                        <apex:outputField value="{!oli[f]}" />
                    </apex:outputPanel>

                    <apex:facet name="footer">
                        <apex:outputPanel >
                           <apex:outputText value="TOTAL : " rendered="{!f=='Product_Code__c'}"/>
                           <apex:outputText value="{!opp.In_50_KG__c}" rendered="{!f=='Order_Quantity__c'}" />
                           <apex:outputText value="{!opp.Total_Estimated_Amount__c}" rendered="{!f=='Estimated_Amount__c'}"/>
                        </apex:outputPanel>   
                    </apex:facet>
                 </apex:column>
            </apex:repeat>
            
            <apex:column rendered="{!SearchWrapperCls.oliCsDet.Name==stageName}">
                <apex:facet name="header">
                    <apex:outputPanel >
                        100% Received<br/>
                        <apex:inputCheckbox id="checkAllId" onclick="selectAllCheckboxes(this,'inputId2')" />
                    </apex:outputPanel>
                </apex:facet>
                
                <apex:outputPanel rendered="{!!printMode}">
                    <apex:outputPanel rendered="{!oli.Received__c}">
                        <span id="{!oli.Id}">
                        <apex:inputCheckbox value="{!oli.Received__c}" id="inputRecievedId" disabled="true"/>
                        </span>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!NOT(oli.Received__c)}">
                        <span id="{!oli.Id}">
                        <apex:inputCheckbox value="{!oli.Received__c}" id="inputId2" styleClass="inputchkbx chk{!serNum}" onchange="actionsOnCheckboxToggle(this); ">
                        </apex:inputCheckbox>
                        </span>
                    </apex:outputPanel>
                    
                    </apex:outputPanel>
                        <apex:outputPanel rendered="{!printMode}">
                    <apex:outputField value="{!oli.Received__c}"/>
                </apex:outputPanel>
            </apex:column>

        </apex:pageBlockTable>
        
        <apex:pageBlockSection title="A/R Balance" columns="1" rendered="{!accList != NULL && opp.Status__c = 'Submitted'}" id="arBalanceSection"> 
            <apex:pageBlocktable value="{!accList}" var="acc">
                <apex:column value="{!acc.A_R_Balance__c}"/>
                <apex:column value="{!acc.Current_AR__c}"/>
                <apex:column value="{!acc.Past_Due__c}"/>
                <apex:column value="{!acc.X1_15__c}"/>
                <apex:column value="{!acc.X16_30__c}"/>
                <apex:column value="{!acc.X1_30__c}"/>
                <apex:column value="{!acc.X31_60__c}"/>
                <apex:column value="{!acc.X61_90__c}"/>
                <apex:column value="{!acc.X91_180__c}"/>
                <apex:column value="{!acc.X181_360__c}"/>
                <apex:column value="{!acc.Over_90__c}"/>
                <apex:column value="{!acc.Over_360__c}"/>
            </apex:pageBlocktable>
        </apex:pageBlockSection>        
      </apex:outputPanel>
      <apex:outputPanel rendered="{!oppLineItems.size==0}">
        <center><apex:outputText value="No order items available" style="font-size: 18px; color: blue; "/> </center>
      </apex:outputPanel>
    </apex:pageBlock>
        <apex:actionStatus id="status" rendered="{!NOT(printMode)}">
            <apex:facet name="start">
                <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.9; z-index: 1000; background-color: black;">
                      &nbsp;
                </div>
                 <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                     <!--div style="display: inline-block; padding: 2px; background-color: #fff; width: 210px;"-->
                        <img src="/img/loading32.gif" style="vertical-align:center;horizontal-align:center;"/> <!--float: left; margin: 8px;-->
                          <span style="display: inline-block; padding: 10px 0px;color:white">Saving</span>
                     <!--/div-->
                </div>
             </apex:facet>
        </apex:actionStatus>

      <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" />
    
        <script>
        var updatedOrderLineItems={};
        $(document).ready(function(){
          $('[id$=qtyRem]').each(function(i, el){
              var row = $(this).closest('tr');
              $(row).find('[id$=qtyRemHidden]').text($(row).find('[id$=qtyRem]').val());
            })
        });

        function selectAllCheckboxes(obj,receivedInputID) {
            var inputCheckbox = $('[id$=inputId2]');
            for(var i=0; i<inputCheckbox.length; i++) {
                if(inputCheckbox[i].id.indexOf(receivedInputID)!=-1) {
                    if(obj !=null){
                    inputCheckbox[i].checked = obj.checked;
                    actionsOnCheckboxToggle(inputCheckbox[i]);
                    }
                }
            }
        }

        function approveConfirm(){
           $j('.ApproveClass').blur();
          $j('.ApproveClass').attr('Disabled','Disabled');
          $j('.ApproveClass').addClass('btnDisabled');
          if (confirm(" Are you sure in approving the order?") == true) {
             approveOL();
          }
          else{
            $j('.ApproveClass').removeAttr('disabled');
            $j('.ApproveClass').removeClass('btnDisabled');
          }
        }

        function actionsOnCheckboxToggle(obj){
          var row = obj.closest('tr');
          
          $(row).find('#inptfldErrId').empty();
          if(obj.checked){
            var rowLength = $(row).find('[id$=inptFieldClsId]').val().length;
            if (rowLength==0 || ($(row).find('[id$=qtyRem]').val() * 1) > 0) {
              var msg = '';
              msg = rowLength == 0 ? '' : ($(row).find('[id$=qtyRem]').val() * 1) ? 'Action not allowed. There are more quantity remaining.' : "";
              $(row).find('#inptfldErrId').text(msg);
              $(this).prop('checked',false);
            }else{
              $(row).find('[id$=inptFieldClsId]').attr('Disabled','Disabled');
            }
          }else{
            $(row).find('[id$=inptFieldClsId]').removeAttr('disabled');             
          }
          fieldUpdate(obj, obj.parentElement);
        }
        
        function showSuccessMsg(){
            $('#statusErrorMsg').css('display','block');
            $('[id$=qtyRem]').each(function(i, el){
              var row = $(this).closest('tr');
              $(row).find('[id$=qtyRemHidden]').text($(row).find('[id$=qtyRem]').val());
            })
            $('[id$=checkAllId]').prop('checked', false);
        }
        
        function formatField(obj){

          var row = obj.closest('tr');
          obj.value = obj.value.replace(/[^0-9\.]/g, '');      
          var qtyRem = $(row).find('[id$=qtyRemHidden]').text() == '' ? 0 : $(row).find('[id$=qtyRemHidden]').text()*1;
          $(row).find('[id$=qtyRem]').val(qtyRem - obj.value); 
          $(row).find('[id$=catchWeight]').val(catchWeight - obj.value);
        }
        
        function confirmSave(){
 
        /*$('[id$=inptFieldClsId]').each(function(i, el){
        var row = $(this).closest('tr');
        
            alert($(row).find('[id$=inptFieldClsId]').val());
        })*/  

        
          if (confirm(" Are you sure to save order items?") == true) {
              
             var varStrJSON = JSON.stringify(updatedOrderLineItems);
             debugger;
             saveOLI(varStrJSON);
             
          }
        }
        
        
        //Kiko Robero 03/15/2018
        //function to aggregate values in table
        function aggregateTable(){
            
            console.clear();
            var table = $("table[id*='prodTable']");
            var rows = table.find($("tr"));
            var colsLength = $(rows[1]).find($("td")).length;
            var removeLater = new Array();
            for(var i=0; i<colsLength; i++){
                var startIndex = 0;
                var lastIndex = 0;
                var startText = $($(rows[0]).find("td")[i]).text();
                for(var j=1; j<rows.length; j++){
                    var cRow =$(rows[j]);
                    var cCol = $(cRow.find("td")[i]);
                    var currentText = cCol.text();
                    if(currentText==startText && (i !=6 && i !=7 && i !=8)){
                        cCol.css("background","gray");
                        console.log(cCol);
                        removeLater.push(cCol);
                        lastIndex=j;
                    }else{
                        var spanLength = lastIndex-startIndex;
                        if(spanLength>=1){
                            console.log(lastIndex+" - "+startIndex)
                            //console.log($($(rows[startIndex]).find("td")[i]))
                            $($(rows[startIndex]).find("td")[i]).attr("rowspan",spanLength+1);
                        }
                        lastIndex = j;
                        startIndex = j;
                        startText = currentText;
                    }
                        
                }
                var spanLength = lastIndex-startIndex;
                        if(spanLength>=1){
                            console.log(lastIndex+" - "+startIndex)
                            //console.log($($(rows[startIndex]).find("td")[i]))
                            $($(rows[startIndex]).find("td")[i]).attr("rowspan",spanLength+1);
                        }
            }
            
            for(var i in removeLater){
                $(removeLater[i]).remove();
            }
            
            centerPageblockValues();
        }
        
        function centerPageblockValues(){
            $('center').html(([id*='prodTable']).html());

        }
        
        function fieldUpdate(item, recordId) {
            debugger;
            $("[id$='saveBtn']").prop('disabled', false);
            if(item.id.indexOf(':')>0) {
                var splitIdArr = item.id.split(':');
                var itemId = splitIdArr[splitIdArr.length-1];
                
                if(!updatedOrderLineItems[recordId.id]) {
                    updatedOrderLineItems[recordId.id]={};
                }
                switch(itemId){
                    case 'remarks' :
                        updatedOrderLineItems[recordId.id].Remarks__c = $("[data-recordId='"+recordId.id+"'] [id$='remarks']").val();
                        break;
                    case 'catchWeight':
                        updatedOrderLineItems[recordId.id].Catch_Weight__c = $("[data-recordId='"+recordId.id+"'] [id$='catchWeight']").val();
                        break;
                    case 'inptFieldClsId':
                        if (parseFloat($("[data-recordId='"+recordId.id+"'] [id$='inptFieldClsId']").val()) > parseFloat($("[data-recordId='"+recordId.id+"'] [id$='orderQty']").text())) {
                            $("[data-recordId='"+recordId.id+"'] [id$='inptFieldClsId']").val("");
                        }else {
                            updatedOrderLineItems[recordId.id].Quantity_Received__c = $("[data-recordId='"+recordId.id+"'] [id$='inptFieldClsId']").val();
                        }
                        break;
                    case 'inputId2':
                        updatedOrderLineItems[recordId.id].Received__c = $("[id$='"+recordId.id+"'] [id$='inputId2']").is(":checked");
                        if($("[id$='"+recordId.id+"'] [id$='inputId2']").is(":checked")) {
                            var orderQty = $("[data-recordId='"+recordId.id+"'] [id$='inptFieldClsId']").val($("[data-recordId='"+recordId.id+"'] [id$='orderQty']").text());     
                            updatedOrderLineItems[recordId.id].Quantity_Received__c = orderQty.val();
                            $("[data-recordId='"+recordId.id+"'] [id$='inptFieldClsId']").prop('disabled', true);
                            $("[data-recordId='"+recordId.id+"'] [id$='remarks']").prop('disabled', true);
                        }else {
                            var orderQty = $("[data-recordId='"+recordId.id+"'] [id$='inptFieldClsId']").val("");     
                            updatedOrderLineItems[recordId.id].Quantity_Received__c = orderQty.val();
                            $("[data-recordId='"+recordId.id+"'] [id$='inptFieldClsId']").prop('disabled', false);
                            $("[data-recordId='"+recordId.id+"'] [id$='remarks']").prop('disabled', false);
                        }
                        break;
                    case 'inputRecievedId':
                        updatedOrderLineItems[recordId.id].Received__c = $("[id$='"+recordId.id+"'] [id$='inputRecievedId']").is(":checked");
                        break;    
                }
            }
        
        }
        
        window.onload = aggregateTable();
    </script>
</apex:component>