.responsive-circle {
    clear: both;
    float: right;
    font-size: .8em;
    font-weight: 700;
    /*margin: 0 auto 20px;*/
    margin-top: 12px;
    width: 20px;
}
.responsive-circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    /*margin-bottom: 20px;*/
    padding-bottom: 100%;
    width: 100%;
}
.responsive-circle div {
    color: white;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}

.nyc-circle::after {
    background: #424242 ;
}